body {
	margin: 0;
}

.grid-item {
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.grid-item:nth-of-type(5n + 1) {
	background-color: #dd4b39;
}
.grid-item:nth-of-type(5n + 2) {
	background-color: #3c8dbc;
}
.grid-item:nth-of-type(5n + 3) {
	background-color: #f39c12;
}
.grid-item:nth-of-type(5n + 4) {
	background-color: #00a65a;
}
.grid-item:nth-of-type(5n) {
	background-color: #ccc;
}
.grid-item .grid-item {
	background-color: #f6f6f6;
}